body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 191, 0, 0.05), rgb(255, 191, 0.5));
    height: 100vh;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1528823872057-9c018a7a7553?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: fantasy;
    font-weight: 300;   
}

#welcome {

    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #fffdfd;
    border: 1px solid lightgray;
    border-radius: 1.75rem;
    max-width: 600px;
    opacity: 0.8;
}

.navigation {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #fffdfd;
    border: 1px solid lightgray;
    border-radius: 1.75rem;
    max-width: 500px;
    font-size: 1.15rem;
    opacity: 0.8;
}

.navigation:hover {
    background-color: rgb(165, 122, 42);
    cursor: pointer;
}

#tabs {
    display: inline-flex;
}

a {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0.5rem
}

#detail-display a {
    font-size: 1rem;
    font-weight: normal;
    
}

#display-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #fffdfd;
    border: 1px solid lightgray;
    border-radius: 1.75rem;
    min-width: 600px;
    opacity: 0.8;
}

#notes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#notes-wrapper > h3 {
    text-align: left;
    width: 100%;
}

#detail-display > h2{
    text-align: center;
}

#detail-display {
    width: 100%;
}

.buttons {
    margin: 4px;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.25rem;
    border: none;
    border: 1px solid black;   
}

.buttons:hover {
    cursor: pointer;
    background-color: burlywood;
    outline: none;
    border-radius: 0.5rem;
}

#notes {
    border: 1px solid black;
    width: 100%;
    min-height: 100px;
    font-size: large;
    font-family: fantasy;
}

ul {
    display: flexbox;
    max-height: 250px;
    max-width: 300px;
    overflow-y:auto;
    border: 2px solid black;
}

ol {
    display: flexbox;
    max-height: 200px;
    max-width: 300px;
    overflow-y:auto;
    border: 2px solid black;
}

#results-container {
    padding: 0 3rem;
}

li {
    padding: 5px;
}

li:hover {
    background-color: rgb(165, 122, 42);
    cursor: pointer;
}

#search-form {
    display: inline-flexbox;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

#search-label {
    display: block;
    font-size: larger;
    font-weight:bold;
    text-decoration: underline;
    padding: 3px;
    margin: auto;
    text-align: center;
}

#search-direction {
    display: block;
    font-weight:bold;
    font-style:italic;
    padding: 3px;
    margin: auto;
    text-align: center;
}

#search-types {
    display: block;
    font-weight:bold;
    font-style: italic;
    padding: 3px;
    margin: auto;
    text-align: center;
}

#input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#search-input {
    flex-grow: 1;
}